<div class="dialog-container">
  <img
    src="assets/passworProtectedLock.svg"
    alt="passowrd-protected-lock"
    class="passowrd-protected-lock"
  />
  <div class="text-container">
    <h3>This content is protected.</h3>
    <p>To view, please enter the password.</p>
  </div>
  <div class="password-field">
    <mat-form-field>
      <mat-label>Enter password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <button mat-flat-button (click)="validatedPassword()">Submit</button>
</div>
