.dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.passowrd-protected-lock {
  max-width: 20vw;
  max-height: 10vw;
}

.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
